<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1><%=  %></h1>    
    <br>
    <form action="/movies/update/<%= movie.id %>?_method=PUT" method="POST">
        <label for="title"><input type="text" name="title" value="<%= movie.title %>">
            Titulo
        </label>
        <label for="rating"><input type="number" name="rating"  value="<%= movie.rating %>">
            Rating
        </label>
        <label for="awards"><input type="number" name="awards"  value="<%= movie.awards %>">
            Premios
        </label>
        <label for="date"><input type="date" name="date"  value="<%= movie.date %>"> 
            Fecha de lanzamiento
        </label>
        <label for="longitud"><input type="number" name="longitud"  value="<%= movie.length %>">
            Longitud
        </label>
        <button>Editar</button>
    </form>
    

</body>
</html>